h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 36px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 50px;
}